<% content_for :class, 'index-page about-page navbar-color-on-scroll' %>
<% content_for :maps, gmaps_call('transportMap') %>
<section class="intro-fireworks header"></section>

<section id="transport">
	<div class="main main-raised">
		<div class="container">
			<h1 class="title">Транспортна доступність</h1>
			<div class="text row">
                <div class="col-md-12">
                    <p>Розташування забезпечує майбутнім мешканцям житлового комплексу мальовничі види з вікон квартир на річку Дніпро, прогулянки вздовж набережної, а також дає можливість користуватися всіма зручностями вже наявної навколо комплексу розвиненої інфраструктури.</p>
                </div>
			</div>
            <h3 class="title">Поруч з житловим комплексом знаходяться:</h3>
			<div class="row">
                <div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "child", data: {toggle: 'popover', placement: 'right', content: '<b>Дитячий садочок №34</b> - вул. Гагаріна, 53<br><b>Дитячий садочок №90</b> - вулиця Героїв Сталінграду, 29<br><b>Дитячий садочок №91</b> - вулиця Сержанта Смірнова, 4', trigger: 'hover', html: true}, class: 'text-primary' %>
						</div>
						<h4 class="info-title">Дитячі садочки</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "graduation-cap", data: {toggle: 'popover', placement: 'right', trigger: 'hover', html: true, content: '<b>Школа №33</b> - вулиця Героїв Дніпра, 13<br><b>Школа №31</b> - вулиця Героїв Дніпра, 27<br><b>Школа №21</b> - вулиця Нижня Горова, 82'} ,class: 'text-muted' %>
						</div>
						<h4 class="info-title">Загальноосвітні школи</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "music", data: {toggle: 'popover', placement: 'right', trigger: 'hover', html: true, content: '<b>Дитяча музична школа № 3</b> - вулиця В\'ячеслава Чорновола, 10'}, class: 'text-success' %>
						</div>
						<h4 class="info-title">Дитяча музична школа</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "building-o", data: {toggle: 'popover', placement: 'right', trigger: 'hover', html: true, content: '<b>DEPO\'t center</b> - бульвар Шевченка, 385<br><b>Дніпро плаза</b> - вулиця Героїв Сталінграду, 34'}, class: 'text-warning' %>
						</div>
						<h4 class="info-title">Торгово-розважальні центри</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "cutlery", data: {toggle: 'popover', placement: 'right', trigger: 'hover', html: true, content: '<b>Фаро дель Порто</b> - вулиця Козацька, 2<br><b>Стара пристань</b> - вулиця Героїв Сталінграду, 1<br><b>Парус</b> - вулиця Героїв Сталінграду, 1<br><b>ЛеМур (кав\'ярня)</b> - вулиця Козацька, 5'}, class: 'text-info' %>
						</div>
						<h4 class="info-title">Ресторани, кафе</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "heartbeat", data: {toggle: 'popover', placement: 'right', trigger: 'hover', html: true, content: '<b>Sport Life</b> - вулиця Козацька, 2<br><b>«Матрикс»</b> - вулиця Героїв Дніпра, 29'}, class: 'text-danger' %>
						</div>
						<h4 class="info-title">Спортивні комплекси</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="transport-map">
	</div>
</section>
