
<section id="about-carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#about-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#about-carousel" data-slide-to="1"></li>
		<li data-target="#about-carousel" data-slide-to="2"></li>
		<li data-target="#about-carousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div id="about-us" class="card card-raised card-nav-tabs">
			<div class="header header-primary text-center">
				<h4 class="card-title">Про нас</h4>
			</div>
			<div class="content">
				<p>Житловий комплекс з вбудовано-прибудованими приміщеннями громадського призначення «ПЕРЛИНА ДНІПРА» розміститься на земельній ділянці площею 11 200,0 кв. м, що знаходиться в районі Старої Митниці на перетині вулиць Козацька та Припортова навпроти Річкового вокзалу.</p>
				<p>Таке розташування забезпечує майбутнім мешканцям житлового комплексу мальовничі види з вікон квартир на річку Дніпро, прогулянки вздовж набережної, а також дає можливість користуватися всіма зручностями вже наявної навколо комплексу розвиненої інфраструктури.</p>
			</div>
		</div>
		<div class="item active">
			<div class="page-header" style="background-image: url(<%= asset_url("pearl-photos/1.jpg") %>);">

			</div>
		</div>
		<div class="item">
			<div class="page-header" style="background-image: url(<%= asset_url("pearl-photos/2.jpg") %>);">

			</div>
		</div>
		<div class="item">
			<div class="page-header" style="background-image: url(<%= asset_url("pearl-photos/3.jpg") %>);">

			</div>
		</div>
		<div class="item">
			<div class="page-header" style="background-image: url(<%= asset_url("pearl-photos/4.jpg") %>);">

			</div>
		</div>
	</div>

	<a class="left carousel-control" href="#about-carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#about-carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</section>
<section id="conception">
	<div class="main main-raised">
		<div class="container">
			<h2 class="text-primary text-center">Концепція</h2>
			<div class="text row">
				<div class="col-md-10 col-md-offset-1">
					<p>ЖК «ПЕРЛИНА ДНІПРА» буде складатися з двох однакових житлових будинків з вбудовано-прибудованими торгівельними та офісними приміщеннями.
					Комплекс буде мати власну сучасну інфраструктуру - проект передбачає використання нежитлових приміщень під офіси, магазини, салони краси, фітнес-центри та інше.</p>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<h5 class="text-center text-primary">Загальна характеристика кожного з будинків:</h5>
					<ul>
						<li>10 поверхів</li>
						<li>6 секцій (під’їздів)</li>
						<li>4 квартири на кожному поверсі</li>
						<li>торгівельні та офісні приміщення на першому (цокольному) поверсі</li>
						<li>сучасний ліфт в кожній секції</li>
						<li>стіни з екологічно чистої силікатної цегли, що утеплені мінераловатними плитами з фасадним фарбуванням</li>
						<li>установка квартирних лічильників електроенергії в коридорах загального користування</li>
						<li>установка лічильників холодної та гарячої води в санвузлах і ванних кімнатах</li>
						<li>загально будинковий лічильник системи опалення з установкою в теплопункті будинку</li>
						<li>установка газових лічильників в кожній квартирі</li>
						<li>установка металопластикових вікон з зберігаючим п’ятикамерним профілем та двокамерним склопакетом</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="conception-carousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#conception-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#conception-carousel" data-slide-to="1"></li>
			<li data-target="#conception-carousel" data-slide-to="2"></li>
			<li data-target="#conception-carousel" data-slide-to="3"></li>
			<li data-target="#conception-carousel" data-slide-to="4"></li>
			<li data-target="#conception-carousel" data-slide-to="5"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="big-image" style="background-image: url(<%= asset_url("conception/conception1.jpg") %>);">

				</div>
			</div>
			<div class="item">
				<div class="big-image" style="background-image: url(<%= asset_url("conception/conception2.jpg") %>);">

				</div>
			</div>
			<div class="item">
				<div class="big-image" style="background-image: url(<%= asset_url("conception/conception3.jpg") %>);">

				</div>
			</div>
			<div class="item">
				<div class="big-image" style="background-image: url(<%= asset_url("conception/conception4.jpg") %>);">

				</div>
			</div>
			<div class="item">
				<div class="big-image" style="background-image: url(<%= asset_url("conception/conception5.jpg") %>);">

				</div>
			</div>
			<div class="item">
				<div class="big-image" style="background-image: url(<%= asset_url("conception/conception6.jpg") %>);">

				</div>
			</div>
		</div>

		<a class="left carousel-control" href="#about-carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#about-carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>
<section id="transport">
	<div class="main main-raised">
		<div class="container">
			<h2 class="text-primary text-center">Транспортна доступність</h2>
			<div class="text row">
				<p>Розташування забезпечує майбутнім мешканцям житлового комплексу мальовничі види з вікон квартир на річку Дніпро, прогулянки вздовж набережної, а також дає можливість користуватися всіма зручностями вже наявної навколо комплексу розвиненої інфраструктури.</p>
				<h5 class="text-center text-primary">Поруч з житловим комплексом знаходяться:</h5>
				<ul>
					<li>дитячі садочки</li>
					<li>загальноосвітні школи</li>
					<li>дитяча музична школа</li>
					<li>2 торгово-розважальні центри</li>
					<li>4 спортивні комплекси бізнес-центр, ресторани, кафе тощо</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="transport-map">
	</div>
</section>
