<% content_for :class, 'index-page about-page' %>
<% content_for :maps, gmaps_call('transportMap') %>
<section class="intro-fireworks header"></section>
<section id="conception">
	<div class="main main-raised">
		<div class="container">
			<h1 class="title">Концепція</h1>
			<div class="text row">
				<div class="col-md-12">
                    <p>ЖК <strong>«Перлина Дніпра»</strong> буде складатися з двох однакових житлових будинків з вбудовано-прибудованими торгівельними та офісними приміщеннями.
					Комплекс буде мати власну сучасну інфраструктуру - проект передбачає використання нежитлових приміщень під офіси, магазини, салони краси, фітнес-центри та інше.</p>
				</div>
                <div class="col-md-12">
                    <h3 class="title">Загальна характеристика кожного з будинків:</h3>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-building') %>
                                </div>
                                <h6 class="info-title">10 поверхів, 6 секцій,<br>4 квартири на поверсі</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-3d-buildings') %>
                                </div>
                                <h6 class="info-title">Торгівельні та офісні приміщення на першому поверсі</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-elevator') %>
                                </div>
                                <h6 class="info-title">Сучасний ліфт</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-brickwall') %>
                                </div>
                                <h6 class="info-title">Екологічно чиста силіктна цегла</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-plug') %>
                                </div>
                                <h6 class="info-title">Лічильники електроенергії в коридорах загального користування</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-pipes') %>
                                </div>
                                <h6 class="info-title">Лічильники води в санвузлах і ванних кімнатах, загально будинковий лічильник системи опалення</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-gas-pipe') %>
                                </div>
                                <h6 class="info-title">Газові лічильники у кожній квартирі</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-window') %>
                                </div>
                                <h6 class="info-title">Вікна зі зберігаючим п’ятикамерним профілем та двокамерним склопакетом</h6>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
<section id="transport">
	<div class="main main-raised">
		<div class="container">
			<h1 class="title">Транспортна доступність</h1>
			<div class="text row">
                <div class="col-md-12">
                    <p>Розташування забезпечує майбутнім мешканцям житлового комплексу мальовничі види з вікон квартир на річку Дніпро, прогулянки вздовж набережної, а також дає можливість користуватися всіма зручностями вже наявної навколо комплексу розвиненої інфраструктури.</p>
                </div>
			</div>
            <h3 class="title">Поруч з житловим комплексом знаходяться:</h3>
			<div class="row">
                <div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "child", class: 'text-primary' %>
						</div>
						<h4 class="info-title">Дитячі садочки</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "graduation-cap", class: 'text-muted' %>
						</div>
						<h4 class="info-title">Загальноосвітні школи</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "music", class: 'text-success' %>
						</div>
						<h4 class="info-title">Дитяча музична школа</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "building-o", class: 'text-warning' %>
						</div>
						<h4 class="info-title">Торгово-розважальні центри</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "cutlery", class: 'text-info' %>
						</div>
						<h4 class="info-title">Ресторани, кафе</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="info">
						<div class="icon">
							<%= fa_icon "heartbeat", class: 'text-danger' %>
						</div>
						<h4 class="info-title">Спортивні комплекси</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="transport-map">
	</div>
</section>
