<% content_for :title, 'Нежитлові приміщення' %>
<% content_for :class, 'index-page navbar-color-on-scroll' %>
<div id="complex" class="header header-filter">

</div>
<div class="container">
    <div class="main main-raised">
        <section id="commercial">
            <h1 class="title">Нежитлові приміщення</h1>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card card-apartaments" style="background-image: url(<%= image_path("planing/comercial/1.jpg") %>)">
                        <div class="content">
                            <h1 class="card-title">
                                № 1,2
                            </h1>
                            <ul>
                                <li>№ 1: <b>87,93 м<sup>2</sup></b></li>
                                <li>№ 2: <b>81,51 м<sup>2</sup></b></li>
                            </ul>
                            <%= link_to 'Проглянути', (image_path("planing/comercial/1.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-apartaments" style="background-image: url(<%= image_path("planing/comercial/4.jpg") %>)">
                        <div class="content">
                            <h1 class="card-title">
                                № 3,4
                            </h1>
                            <ul>
                                <li>№ 3: <b>139,43 м<sup>2</sup></b></li>
                                <li>№ 4: <b>82,69 м<sup>2</sup></b></li>
                            </ul>
                            <%= link_to 'Проглянути', (image_path("planing/comercial/4.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-apartaments" style="background-image: url(<%= image_path("planing/comercial/5.jpg") %>)">
                        <div class="content">
                            <h1 class="card-title">
                                № 5,6
                            </h1>
                            <ul>
                                <li>№ 5: <b>78,38 м<sup>2</sup></b></li>
                                <li>№ 6: <b>118,25 м<sup>2</sup></b></li>
                            </ul>
                            <%= link_to 'Проглянути', (image_path("planing/comercial/5.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-apartaments" style="background-image: url(<%= image_path("planing/comercial/6.jpg") %>)">
                        <div class="content">
                            <h1 class="card-title">
                                № 7,8
                            </h1>
                            <ul>
                                <li>№ 7: <b>111,31 м<sup>2</sup></b></li>
                                <li>№ 8: <b>197,66 м<sup>2</sup></b></li>
                            </ul>
                            <%= link_to 'Проглянути', (image_path("planing/comercial/6.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-apartaments" style="background-image: url(<%= image_path("planing/comercial/3.jpg") %>)">
                        <div class="content">
                            <h1 class="card-title">
                                № 9,10
                            </h1>
                            <ul>
                                <li>№ 9: <b>88,88 м<sup>2</sup></b></li>
                                <li>№ 10: <b>76,90 м<sup>2</sup></b></li>
                            </ul>
                            <%= link_to 'Проглянути', (image_path("planing/comercial/3.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-apartaments" style="background-image: url(<%= image_path("planing/comercial/3.jpg") %>)">
                        <div class="content">
                            <h1 class="card-title">
                                № 11,12
                            </h1>
                            <ul>
                                <li>№ 11: <b>96,05 м<sup>2</sup></b></li>
                                <li>№ 12: <b>79,20 м<sup>2</sup></b></li>
                            </ul>
                            <%= link_to 'Проглянути', (image_path("planing/comercial/3.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>