<% content_for :class, 'navbar-color-on-scroll' %>
<div id="intro" class="header header-filter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
				<%= image_tag "logo.png", class: 'img-responsive' %>
			</div>
        </div>
    </div>
</div>
<div class="main main-raised">
	<section class="description container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= image_tag "description-image.jpg", class: 'image img-responsive img-rounded img-raised' %>
			</div>
			<div class="col-md-12">
				<div class="text">
					<p>Багато з нас хоча б раз хотіли почати життя з чистого аркуша, хтось - починаючи з <strong>нового</strong> року, хтось - з понеділка ... Найчастіше задумане не виконується або триває недовго, т.к . це досить складний крок - почати жити <strong>по-новому</strong>. Кожен під цим розуміє щось своє - деякі мають на увазі глобальні зміни, інші хочуть кинути курити, треті - змінити роботу, четверті - змінити спосіб життя і так далі. Як почати життя з чистого аркуша?</p>
					<p>Кожен з нас виростає і живе в певній системі цінностей і понять, що диктується нашим вихованням і оточенням. Спочатку ми знайомимося з тим, який світ навколо нас і як влаштовані ми самі. Потім ми живемо в уже сформованій системі координат і зі своїми уявленнями про те, що ми можемо. Це рейки, по яких, безумовно, зручно і так звично їхати - прості, передбачувані і безпечні. Щоб дійсно почати змінювати себе, мало зійти з рідної колії, потрібно ще й прокладати новий шлях, вибираючи його напрям і розуміючи: це буде вже щось інше, щось <strong>нове</strong>, чого нам так хотілося.</p>
					<p>Хто б не хотів почати нове життя з <strong>нової</strong> квартири? Адже це так прекрасно, прокидаючись щоранку, зустрічати <strong>новий</strong> день милуючись красою виду, який відкривається з вікна. Річка Дніпро ... Така спокійна могутність ... У суєті наших днів так важливо мати свій острівець безтурботності, щоб забути про всі проблеми і турботи ... Так чудово своїми руками створити куточок своєї мрії для себе і своїх близьких.</p>
					<p><strong>Нова</strong> квартира - прекрасний початок <strong>нової</strong> історії! Ми не просто будуємо будинки - ми створюємо Ваш затишок!</p>
					<p>Створіть разом з нами <strong>Нову</strong> сторінку у Вашому житті!</p>
					<p class="ps">Ваш комплекс «Перлина Дніпра».</p>
				</div>
			</div>
		</div>
	</section>
</div>
<section id="features" class="features header-filter">
	<div class="container">
		<h2 class="text-center">Переваги</h2>
		<div class="row">
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check" %>
					</div>
					<h4 class="info-title">Перевага</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, blanditiis distinctio fugiat, id impedit, laudantium molestiae nihil omnis praesentium quibusdam reiciendis reprehenderit repudiandae voluptatum! Autem est, laboriosam! Blanditiis, consequatur, quia!</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-warning' %>
					</div>
					<h4 class="info-title">Перевага</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, blanditiis distinctio fugiat, id impedit, laudantium molestiae nihil omnis praesentium quibusdam reiciendis reprehenderit repudiandae voluptatum! Autem est, laboriosam! Blanditiis, consequatur, quia!</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check" %>
					</div>
					<h4 class="info-title">Перевага</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, blanditiis distinctio fugiat, id impedit, laudantium molestiae nihil omnis praesentium quibusdam reiciendis reprehenderit repudiandae voluptatum! Autem est, laboriosam! Blanditiis, consequatur, quia!</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-primary' %>
					</div>
					<h4 class="info-title">Перевага</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, blanditiis distinctio fugiat, id impedit, laudantium molestiae nihil omnis praesentium quibusdam reiciendis reprehenderit repudiandae voluptatum! Autem est, laboriosam! Blanditiis, consequatur, quia!</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-success' %>
					</div>
					<h4 class="info-title">Перевага</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, blanditiis distinctio fugiat, id impedit, laudantium molestiae nihil omnis praesentium quibusdam reiciendis reprehenderit repudiandae voluptatum! Autem est, laboriosam! Blanditiis, consequatur, quia!</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check" %>
					</div>
					<h4 class="info-title">Перевага</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, blanditiis distinctio fugiat, id impedit, laudantium molestiae nihil omnis praesentium quibusdam reiciendis reprehenderit repudiandae voluptatum! Autem est, laboriosam! Blanditiis, consequatur, quia!</p>
				</div>
			</div>
		</div>
	</div>
</section>
