<% content_for :title, 'Головна' %>
<% content_for :class, 'index-page navbar-color-on-scroll' %>
<div id="intro" class="header header-filter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag("logo.png", class: 'img-responsive') %>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div id="phone-card" class="card card-raised card-nav-tabs">
                    <div class="header header-primary text-center">
                        <h4 id="sales-trigger" class="card-title">Зателефонуйте нам</h4>
                    </div>
                    <div class="content content-danger">
                        <ul class="contact-info">
							<li class="phone"><%= tel_to '+38 (0472) 72-42-22' %></li>
                            <li class="phone"><%= tel_to '+38 (098) 07-111-11' %></li>
                            <li class="phone"><%= tel_to '+38 (063) 07-110-10' %></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
		<div class="row offers">
			<div class="col-md-2 col-md-offset-2">
				<a href="#" id="first" class="card bonus" data-toggle="modal" data-target="#offer-first">
					<div class="content">
						<h6>0% розстрочка</h6>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="#" id="credit" class="card bonus" data-toggle="modal" data-target="#offer-credit">
					<div class="content">
						<h6>5% кредит</h6>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="#" id="discount" class="card bonus" data-toggle="modal" data-target="#offer-discount">
					<div class="content">
						<h6>Знижки!</h6>
					</div>
				</a>
			</div>
			<div class="col-md-2">
				<a href="#" id="lowprice" class="card bonus" data-toggle="modal" data-target="#offer-lowprice">
					<div class="content">
						<h6>6-та секція по вигідним цінам</h6>
					</div>
				</a>
			</div>
		</div>
    </div>
    <div class="arrow">
        <%= fa_icon "angle-double-down 4x" %>
    </div>
</div>
<div class="container">
    <div class="main main-raised">
		<section class="general">
			<h1 class="title">Житловий комплекс "Перлина Дніпра"</h1>
            <%= content_tag(:h3, 'Будівельна адреса: Черкаси, вул. Козацька, 1/1', class: 'title address') %>
			<hr>
            <div class="text row">
                <div class="col-md-12">
                    <h3 class="title">Загальна характеристика комплексу:</h3>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-building') %>
                                </div>
                                <h6 class="info-title">Два будинки по 10 поверхів, 6 секцій,<br>4 квартири на поверсі</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-3d-buildings') %>
                                </div>
                                <h6 class="info-title">Торгівельні та офісні приміщення на першому поверсі</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-elevator') %>
                                </div>
                                <h6 class="info-title">Сучасний ліфт</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-brickwall') %>
                                </div>
                                <h6 class="info-title">Екологічно чиста силіктна цегла</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-plug') %>
                                </div>
                                <h6 class="info-title">Лічильники електроенергії в коридорах загального користування</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-pipes') %>
                                </div>
                                <h6 class="info-title">Лічильники води в санвузлах і ванних кімнатах, загально будинковий лічильник системи опалення</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-gas-pipe') %>
                                </div>
                                <h6 class="info-title">Газові лічильники у кожній квартирі</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon">
                                    <%= content_tag(:i, '', class: 'fi flaticon-window') %>
                                </div>
                                <h6 class="info-title">Вікна зі зберігаючим п’ятикамерним профілем та двокамерним склопакетом</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<hr>
		</section>
	</div>
</div>
<section id="features" class="features">
	<div class="container">
		<h1 class="title text-center">Переваги</h1>
		<div class="row">
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-info' %>
					</div>
					<h4 class="info-title">Комфорт</h4>
					<p>В основу ідеології комплексу ми поставили людину і її комфорт, її переваги і образ життя. Сучасний дизайн, функціональність і інфраструктура будинку створюють атмосферу затишку і привабливості.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-warning' %>
					</div>
					<h4 class="info-title">Матеріали</h4>
					<p>Технології будівництва гарантують високу міцність фундаменту і енергоефективність стін. Цегляні стіни ззовні утеплені і покриті декоративною штукатуркою, що гарантує відповідність нормам супротиву теплопередачі.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-danger' %>
					</div>
					<h4 class="info-title">Опалення</h4>
					<p>Система опалення двохтрубна з нижнім розведенням магістралі від теплопункту. Кожен мешканець може встановити особистий лічильник та створити власну атмосферу затишку, при цьому заощадивши кошти.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-primary' %>
					</div>
					<h4 class="info-title">Розташування</h4>
					<p>Наш комплекс розташований на самій мальовничій території міста Черкаси. Неповторні краєвиди на річку Дніпро, набережну та пишноти природи дають можливість отримати насолоду від комфортного проживання.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-success' %>
					</div>
					<h4 class="info-title">Транспортна доступність</h4>
					<p>Відмінна транспортна доступність підкреслює правильність вибору місця розташування комплексу. Безпосередньо біля будинків знаходяться зупинки громадського транспорту від яких можна дістатися до будь якого району міста Черкаси.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check" %>
					</div>
					<h4 class="info-title">Інфраструктура</h4>
					<p>Інфраструктура комплексу дає можливість не турбуватися з пошуком дошкільних та шкільних закладів. Це дозволить Вам не турбуватися про безпеку дитини, так як шкільний маршрут не перетинає жодну проїжджу частину. Забудовники потурбувалися про дітей, встановивши дитячий майданчик та комфортні місця відпочинку.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="offer-first" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Розстрочка 0%</h4>
			</div>
			<div class="modal-body">
				Безвідсоткова розстрочка від забудовника до кінця 2018 року. Початковий внесок не менше 30%.<br>За детальною інформацією звертайтеся, будь-ласка, у відділ продажів: м. Черкаси, вул. Козацька, 1/1, тел. 0472-72-42-22, 098-07-111-11, 063-071-10-10.
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="offer-credit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Кредит 5%</h4>
			</div>
			<div class="modal-body">
				Кредит фінансової установи на три роки без додаткових комісій та платежів. Початковий внесок не менше 30%. До 30 грудня 2018 р. кредит надається на пільгових умовах під 5% річних, починаючи з 01.01.2019 р. ставку буде підвищено до 22% річних. Проценти нараховуються на фактичний залишок. Можливе дострокове погашення без штрафних санкцій.<br>За детальною інформацією звертайтеся, будь-ласка, у відділ продажів: м. Черкаси, вул. Козацька, 1/1, тел. 0472-72-42-22, 098-07-111-11, 063-071-10-10.
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="offer-discount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Знижки</h4>
			</div>
			<div class="modal-body">
				При повній оплаті вартості квартири протягом 5-ти робочих днів надається знижка в розмірі 5% її вартості.<br>За детальною інформацією звертайтеся, будь-ласка, у відділ продажів: м. Черкаси, вул. Козацька, 1/1, тел. 0472-72-42-22, 098-07-111-11, 063-071-10-10.
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="offer-lowprice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">6-та секція за вигідними цінами</h4>
			</div>
			<div class="modal-body">
				При повній оплаті вартості квартир, що розташовані у 6-й секції (під’їзді) будинку першої черги будівництва за адресою м. Черкаси, вул. Козацька 1/1 , протягом 5 –ти робочих днів надається знижка в розмірі 8% їх вартості.<br>За детальною інформацією звертайтеся, будь-ласка, у відділ продажів: м. Черкаси, вул. Козацька, 1/1, тел. 0472-72-42-22, 098-07-111-11, 063-071-10-10.
			</div>
		</div>
	</div>
</div>
<%= gmaps_call %>
