<% content_for :title, 'Головна' %>
<% content_for :class, 'index-page' %>
<div id="intro" class="header header-filter">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
				<%= image_tag "logo.png", class: 'img-responsive' %>
			</div>
            <div class="col-md-6">
                <%= content_tag(:h1, 'Там, де хочеться жити...', class: 'slogan') %>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
	<div class="container">
		<section class="general">
			<h1 class="title">Житловий комплекс "Перлина Дніпра"</h1>
            <%= content_tag(:h3, 'Будівельна адреса: Черкаси, вул. Козацька 1/1', class: 'title address') %>
			<hr>
			<div class="row">
				<div class="text col-md-8">
					<p>Житловий комплекс з вбудовано-прибудованими приміщеннями громадського призначення <strong>«Перлина Дніпра»</strong> розміститься на земельній ділянці площею <span class="space">11 200,0 м<sup>2</sup></span>, що знаходиться в районі Старої Митниці на перетин вулиць Козацька та Припортова навпроти Річкового вокзалу.</p>
					<p>Таке розташування забезпечує майбутнім мешканцям житлового комплексу мальовничі види з вікон квартир на річку Дніпро, прогулянки вздовж набережної, а також дає можливість користуватися всіма зручностями вже наявної навколо комплексу розвиненої інфраструктури.</p>
					<div class="col-md-4">
						<%= link_to (image_tag "description-image-new.jpg", class: 'img-responsive img-raised img-rounded'), image_path("description-image-new.jpg"), data: {lightbox: 'home-page'}, class: 'home-img-link' %>
					</div>
					<div class="col-md-4">
						<%= link_to (image_tag "intro-bg.jpg", class: 'img-responsive img-raised img-rounded'), image_path("intro-bg.jpg"), data: {lightbox: 'home-page'}, class: 'home-img-link' %>
					</div>
					<div class="col-md-4">
						<%= link_to (image_tag "conception/conception2.jpg", class: 'img-responsive img-raised img-rounded'), image_path("conception/conception2.jpg"), data: {lightbox: 'home-page'}, class: 'home-img-link' %>
					</div>
					<div class="col-md-4">
						<%= link_to (image_tag "pearl-photos/8.jpg", class: 'img-responsive img-raised img-rounded'), image_path("pearl-photos/1.jpg"), data: {lightbox: 'home-page'}, class: 'home-img-link' %>
					</div>
					<div class="col-md-4">
						<%= link_to (image_tag "pearl-photos/6.jpg", class: 'img-responsive img-raised img-rounded'), image_path("pearl-photos/6.jpg"), data: {lightbox: 'home-page'}, class: 'home-img-link' %>
					</div>
					<div class="col-md-4">
						<%= link_to (image_tag "pearl-photos/7.jpg", class: 'img-responsive img-raised img-rounded'), image_path("pearl-photos/7.jpg"), data: {lightbox: 'home-page'}, class: 'home-img-link' %>
					</div>
				</div>
				<div class="col-md-4 statistic">
					<h3 class="title">Загальна характеристика</h3>
					<div class="counter col-sm-8 col-sm-offset-2">
					<span class="number">
						11 200
					</span>
						<p>Площа ділянки (м<sup>2</sup>)</p>
					</div>
					<div class="counter col-sm-8 col-sm-offset-2">
					<span class="number">
						6
					</span>
						<p>Секцій</p>
					</div>
					<div class="counter col-sm-8 col-sm-offset-2">
					<span class="number">
						10
					</span>
						<p>Поверхів</p>
					</div>
					<div class="counter col-sm-8 col-sm-offset-2">
					<span class="number">
						216
					</span>
						<p>Всього квартир</p>
					</div>
				</div>
			</div>
			<hr>
		</section>
	</div>
</div>
<section id="features" class="features">
	<div class="container">
		<h1 class="title text-center">Переваги</h1>
		<div class="row">
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check" %>
					</div>
					<h4 class="info-title">Комфорт</h4>
					<p>В основу ідеології комплексу ми поставили людину і її комфорт, її переваги і образ життя. Сучасний дизайн, функціональність і інфраструктура будинку створюють атмосферу затишку і привабливості.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-warning' %>
					</div>
					<h4 class="info-title">Матеріали</h4>
					<p>Технології будівництва гарантують високу міцність фундаменту і енергоефективність стін. Цегляні стіни ззовні утеплені і покриті декоративною штукатуркою, що гарантує відповідність нормам супротиву теплопередачі.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check" %>
					</div>
					<h4 class="info-title">Опалення</h4>
					<p>Система опалення двохтрубна з нижнім розведенням магістралі від теплопункту. Кожен мешканець може встановити особистий лічильник та створити власну атмосферу затишку, при цьому заощадивши кошти.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-primary' %>
					</div>
					<h4 class="info-title">Розташування</h4>
					<p>Наш комплекс розташований на самій мальовничій території міста Черкаси. Неповторні краєвиди на річку Дніпро, набережну та пишноти природи дають можливість отримати насолоду від комфортного проживання.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check", class: 'text-success' %>
					</div>
					<h4 class="info-title">Траспортна доступність</h4>
					<p>Відмінна транспортна доступність підкреслює правильність вибору місця розташування комплексу. Безпосередньо біля будинків знаходяться зупинки громадського транспорту від яких можна дістатися до будь якого району міста Черкаси.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="info">
					<div class="icon">
						<%= fa_icon "check" %>
					</div>
					<h4 class="info-title">Інфаструктура</h4>
					<p>Інфраструктура комплексу дає можливість не турбуватися з пошуком дошкільних та шкільних закладів. Це дозволить Вам не турбуватися про безпеку дитини, так як шкільний маршрут не перетинає жодну проїжджу частину. Забудовники потурбувалися про дітей, встановивши дитячий майданчик та комфортні місця відпочинку.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<%= link_to 'Дізнатись більше', about_path, class: 'btn btn-success btn-lg btn-block' %>
			</div>
		</div>
	</div>
</section>
<%= gmaps_call %>
