<% content_for :class, 'house-page navbar-color-on-scroll' %>
<div id="complex-selectable">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1444 904" enable-background="new 0 0 1444 904" xml:space="preserve">
        <% @house.sections.each do |s| %>
            <%= link_to house_section_path(@house, s), class: 'section-link' do %>
                <polygon id="section_<%= s.index.to_s %>" stroke-miterlimit="10" points="<%= s.points %>"></polygon>
            <% end %>
        <% end %>
    </svg>
    <div id="house-info" class="card card-raised card-nav-tabs">
        <div class="header header-primary">
            <%= content_tag(:h4, @house.title, class: 'card-title') %>
        </div>
        <div class="content">
            <%= link_to @house.image.url, class: 'house-image' do %>
                <%= image_tag(@house.image.thumb.url, class: 'img-responsive img-raised img-rounded') %>
            <% end %>
            <div class="address">
                <%= fa_icon "map-marker", text: @house.address %>
            </div>
            <div class="count">
                <div class="big-number">
                    <%= content_tag(:span, @house.sections.count.to_s, class: 'number') %>
                    <p>Секцій</p>
                </div>
                <div class="big-number">
                    <%= content_tag(:span, '10', class: 'number') %>
                    <p>Поверхів</p>
                </div>
            </div>
        </div>
    </div>
</div>