<% content_for :class, 'house-page' %>
<div class="container">
    <div class="main main-raised">
        <%= content_tag :h1, @house.title, class: 'house-title' %>
        <%= content_tag :h3, @house.address, class: 'house-address' %>
        <div class="row">
            <div class="col-md-3 col-md-offset-2 stat">
                <div class="counter">
                    <span class="number">
                        6
                    </span>
                    <p>Кількість секцій</p>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2 stat">
                <div class="counter">
                    <span class="number">
                        10
                    </span>
                    <p>Кількість поверхів</p>
                </div>
            </div>
        </div>
        <div class="row house-image">
            <div class="col-md-10 col-md-offset-1">
                <%= image_tag 'conception/conception3.jpg', class: 'img-responsive img-rounded img-raised' %>
            </div>
        </div>
		<div class="row apartaments">
			<div class="col-md-12">
				<ul class="nav nav-pills nav-pills-primary nav-justified" role="tablist">
					<li class="active">
						<a href="#section1" role="tab" data-toggle="tab">
							Секція 1
						</a>
					</li>
					<li>
						<a href="#section2" role="tab" data-toggle="tab">
							Секція 2
						</a>
					</li>
					<li>
						<a href="#section3" role="tab" data-toggle="tab">
							Секція 3
						</a>
					</li>
					<li>
						<a href="#section4" role="tab" data-toggle="tab">
							Секція 4
						</a>
					</li>
					<li>
						<a href="#section5" role="tab" data-toggle="tab">
							Секція 5
						</a>
					</li>
					<li>
						<a href="#section6" role="tab" data-toggle="tab">
							Секція 6
						</a>
					</li>
				</ul>

			</div>
			<div class="col-md-12">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="section1">
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section1/37-1r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section1/37-1r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section1/37-1r-mirror.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1,3</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section1/37-1r-mirror.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section1/56-2r-mirror.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1,4,5,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section1/56-2r-mirror.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section6/56-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section6/56-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="section2">
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section2/37-1r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>2,3,5,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section2/37-1r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section2/57-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										57,45 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>2</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section2/57-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section2/59-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										59,60 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>2</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section2/59-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section2/85-3r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										85,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>2</b></li>
										<li>Поверхи: <b>3-8</b></li>
										<li>Кількість кімнат: <b>3</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section2/85-3r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section2/86-3r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										86,40 m<sup>2</sup><!-- Нетипичная-->
									</h1>
									<ul>
										<li>Секції: <b>2</b></li>
										<li>Поверхи: <b>2</b></li>
										<li>Кількість кімнат: <b>3</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section2/86-3r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="section3">
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section3/37-1r-mirror.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1,3</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section3/37-1r-mirror.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section3/37-1r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>2,3,5,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section3/37-1r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section3/56-2r-mirror.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>3,5,6</b></li>
										<li>Поверхи: <b>3-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section3/56-2r-mirror.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section3/56-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>3</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section3/56-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="section4">
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section4/37-1r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>4</b></li>
										<li>Поверхи: <b>3-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section4/37-1r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section4/56-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1,4,5,6</b></li>
										<li>Поверхи: <b>3-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section4/56-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section4/57-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										57,45 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>4</b></li>
										<li>Поверхи: <b>3-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section4/57-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section4/85-3r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										85,25 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>4</b></li>
										<li>Поверхи: <b>3-8</b></li>
										<li>Кількість кімнат: <b>3</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section4/85-3r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section4/54-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										54,30 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>4</b></li>
										<li>Поверхи: <b>2</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section4/54-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section4/56-2r-notdefault.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>4</b></li>
										<li>Поверхи: <b>2</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section4/56-2r-notdefault.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section4/33-1r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										33,85 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>4</b></li>
										<li>Поверхи: <b>2</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section4/33-1r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section4/87-3r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										87,80 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>4</b></li>
										<li>Поверхи: <b>2</b></li>
										<li>Кількість кімнат: <b>3</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section4/87-3r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="section5">
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section5/37-1r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>5</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section5/37-1r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section5/37-1r-mirror.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>2,3,5,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section5/37-1r-mirror.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section5/56-2r-mirror.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1,4,5,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section5/56-2r-mirror.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section5/56-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>3,5</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section5/56-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="section6">
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section6/37-1r-mirror.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>4,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section6/37-1r-mirror.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section6/37-1r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										37,00 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>2,3,5,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>1</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section6/37-1r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section6/56-2r-mirror.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1,4,5,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section6/56-2r-mirror.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card card-apartaments" style="background-image: url(<%= image_path("planing/section6/56-2r.jpg") %>)">
								<div class="content">
									<h1 class="card-title">
										56,15 m<sup>2</sup>
									</h1>
									<ul>
										<li>Секції: <b>1,6</b></li>
										<li>Поверхи: <b>2-8</b></li>
										<li>Кількість кімнат: <b>2</b></li>
									</ul>
									<%= link_to 'Проглянути', (image_path("planing/section6/56-2r.jpg")), data: {lightbox: 'planing'}, class: 'btn btn-primary' %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>