<div class="uk-container uk-container-center">
	<div class="uk-grid">
		<div class="uk-width-4-5">
			<% @news.each do |n| %>
				<div class="post-box">
					<div class="post-date">
						<%= n.created_at.strftime("<span>%e</span><span>%B</span><span>%Y</span>").html_safe %>
					</div>
					<div class="title">
						<h2><%= link_to n.title, n %></h2>
					</div>
					<div class="post-info">
						<%= n.show_count %>
					</div>
					<% unless n.image.blank? %>
            			<%= image_tag n.image %>
            		<% end %>
					<div class="post-text">
						<p><%= n.text %></p>
					</div>
				</div>
			<% end %>
		</div>
		<div class="uk-width-1-5">
			<div class="heading"><h1>Новости</h1></div>
		</div>
	</div>
</div>