<nav class="navbar navbar-primary navbar-fixed-top">
	<div class="container">
		<div class="collapse navbar-collapse">
			<div class="navbar-header">
				<%= link_to 'ЖК "Жемчужина Днепра"', root_path, class: 'navbar-brand' %>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<%= content_tag(:li, link_to('Новости', news_path), class: 'active') %>
				<%= content_tag(:li, link_to('Проект', about_path)) %>
				<%= content_tag(:li, link_to('Блог', blog_path)) %>
				<%= content_tag(:li, link_to('Контакты', contacts_path)) %>
			</ul>
		</div>
	</div>
</nav>