<nav class="navbar navbar-primary navbar-fixed-top">
	<div class="container">
		<div class="collapse navbar-collapse">
			<div class="navbar-header">
				<%= image_tag "logo_mini.png", class: 'logo-mini' %>
				<%= link_to full_title(''), root_path, class: 'navbar-brand' %>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<%= content_tag(:li, link_to('Головна', root_path)) %>
				<%= content_tag(:li, link_to('Проект', about_path)) %>
				<%= content_tag(:li, link_to('Планування', houses_path)) %>
                <%= content_tag(:li, link_to('Хід будівництва', building_path, class: 'inactive')) %>
                <%= content_tag(:li, link_to('Документація', documents_path, class: 'inactive')) %>
				<%#= content_tag(:li, link_to('Блог', blog_path)) %>
				<%= content_tag(:li, link_to('Контакти', contacts_path)) %>
			</ul>
		</div>
	</div>
</nav>